<nav class="navbar navbar-default" id="head">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout" id="logout">
        Logout
      </a>
      <a class="navbar-brand" href="/createtask">
        Create Tasks
      </a>
      <a class="navbar-brand" href="/createclient">
        Create Clients
      </a>
      <a class="navbar-brand" href="/signup">
        Create Users
      </a>
      <a class="navbar-brand" href="/assigntask">
        Assign/View Tasks
      </a>
      <a class="navbar-brand" href="/viewusers">
        View Users
      </a>
      <a class="navbar-brand" href="/viewclient">
        View Clients
      </a>
      <a class="navbar-brand" href="/viewclienttasks">
        View Assigned Tasks
      </a>
    </div>
  </div>
</nav>