<nav class="navbar navbar-default" id="head">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="/createclient">
        Create Clients
      </a>
      <a class="navbar-brand" href="/signup">
        Create Users
      </a>
      <a class="navbar-brand" href="/createtask">
        Create Tasks
      </a>
      <a class="navbar-brand" href="/assigntask">
        Manage Tasks
      </a>
      <a class="navbar-brand" href="/viewusers">
        View Users
      </a>
      <a class="navbar-brand" href="/viewclient">
        View Clients
      </a>
      <a class="navbar-brand" href="/viewclienttasks">
        View Client Tasks
      </a>
    </div>
    <a class="btn pull-right" href="/logout" id="logout">
      Logout
    </a>
  </div>
</nav>