<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/logout" id="logout">
          Logout
        </a>
        <a class="navbar-brand" href="/createtask">
          Task Creation
        </a>
        <a class="navbar-brand" href="/createclient">
          Client Creation
        </a>
        <a class="navbar-brand" href="/assigntask">
          Tasks
        </a>
        <a class="navbar-brand" href="/viewusers">
          User Table
        </a>
        <a class="navbar-brand" href="/viewclient">
          Client Table
        </a>
      </div>
    </div>
  </nav>