
</head>

<body>
  <h1>TASK MASTER PRO</h1>
  <div class="container">
    <div id="notfound">
      <h1></h1>
      <br>
      <hr>
      <h2>404 - The Page can't be found</h2>
    </div>
    <hr>
    <div id="gotologin">
      <a id="notfoundbutton" href="/login">Go TO Login</a>
    </div>
  </div>