<script src="/js/assigntask.js"></script>
</head>

<body>
  {{> navbar }}
  <div class="container">
    <h2>Task Table</h2>
    <p>List of current tasks created in the system</p>
    <table id="tasktable" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Owner</th>
        </tr>
      </thead>
  </div>