<script src="/js/home.js"></script>
</head>

<body>
{{> user }}
<div class="container">
    <h6>Welcome <span id="loggedInUserName"></span></h6>
</div>
<div class="container">
    <img src="../img/task-management.jpg" alt= "Task Master Pro" style="width:100%;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" id="main">
            <h2 >TASK MASTER PRO <span class="member-name"></h2>
        </div>
        </div>
        <p id="writeup">Task Master Pro is an application which is  allows groups of users to work together more cohesively to 
            quickly and thoroughly complete assigned tasks. Features such as time tracking and project 
            tracking ensure that all given tasks are covered and progress reports are up to date. 
            Task Master Pro is mobile-first application and including other functions such google maps and address retrival, email syncing, collaborative interfaces for all users. 
            Task Master Pro application is related to Project Management software, Time Management software, Professional 
            Services Automation software.</p>

</div>
