<script src="/js/viewusers.js"></script>
</head>

<body>
  {{> admin }}

  <div class="container">
    <h2>Users</h2>
    <p>List of users currently registered in the system</p>
    <table id="usertable" class="row-border" style="width:100%">
      <thead>
        <tr>
          <th class="formdata">Name</th>
          <th class="formdata">Email</th>
          <th class="formdata">User Type</th>
          <th class="formdata">Status</th>
          <th class="formdata">Client Name</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
      <tfoot>
        <tr>
          <th class="formdata">Name</th>
          <th class="formdata">Email</th>
          <th class="formdata">User Type</th>
          <th class="formdata">Status</th>
          <th class="formdata">Client Name</th>
        </tr>
      </tfoot>
    </table>
  </div>