{{> navbar }}
  <div class="container">
    <h2>User Table</h2>
    <p>List of clients currently registered in the system</p>
    <table id="clienttable" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Status</th>
        </tr>
      </thead>
  </div>