<script src="/js/viewclienttasksclient.js"></script>
</head>

<body>
  {{> user }}
  <div class="container">
    <h6>Welcome <span id="loggedInUserName"></span></h6>
</div>
  <div class="container">
    <h2 id="clientname"></h2>
    <h6 id="clientaddress"></h6>
    <hr>
    <h2>My Task List</h2>

    <table id="clienttaskstable" class="row-border" style="width:100%">
      <thead>
        <tr>
          <th class="formdata">Title</th>
          <th class="formdata">Description</th>
          <th class="formdata">Due Date</th>
          <th class="formdata">Status</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
      <tfoot>
        <tr>
          <th class="formdata">Title</th>
          <th class="formdata">Description</th>
          <th class="formdata">Due Date</th>
          <th class="formdata">Status</th>
        </tr>
      </tfoot>
    </table>
  </div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 id="tasktitle"></h4>

      <hr>
      <h6>Task Details</h6>
      <p id="taskdetail"></p>
      <br>
      <h6>Task Completion Date</h6>
      <p id="taskcompletedby"></p>
      <br>
      <h6>Task Status</h6>
      <p id="taskstatus"></p>
      <br>
    </div>
    <div class="modal-footer">
      <button id="complete" class="waves-effect waves-light btn">complete</button>
      <button id="cancel" class="modal-close btn waves-red">Cancel</button>
      {{!-- <a href="#!" id="cancel" class="modal-close btn waves-red">Cancel</a> --}}
    </div>

  </div>


